<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="MyTube Downloader">
<meta property="og:description" content="This is a simple youtube downloader.">
<meta property="og:image" content="http://mytube.madhaba.me/static/logo.png">
<meta property="og:url" content="http://mytube.madhaba.me/">
    <title> MyTube Downloader</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/logotypes/32/youtube-512.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
</head>
<body onclick="play()">

  <div class="jumbotron">

      <img src="{{ url_for('static', filename='logo.png') }}"  alt="..."  style="height:15vh; width: 15vh;">
    <h3 class="display-5">Welcome To MyTube Downloader!</h3>
    <p class="lead">This is a simple youtube downloader.</p>
    <hr class="my-4">
    <p>Paste your youtube video link here</p>
    {% if invalid: %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{invalid}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    {% endif %}
    <form method="post">
      <input type="text" class="form-control my-3" name="link"/>
      <button class="btn btn-primary btn-lg">Get Video</button> 
    </form>
  </div>
  <div class="text-center">
    <a href="https://madhabapatra.github.io"><button type="button" class="btn btn-dark text-center">Made by Madhaba Patra</button></a>  
   </div>

   <audio id="audio" src="{{ url_for('static', filename='THANKS-FOR-USING-YOUTUBE-DOWNL1593334488.mp3') }}"></audio>
</body>

<div class="text-center mt-2">
      <a target="_blank" class="mx-2 text-danger" href="https://www.facebook.com/madhaba.patra"><i class="fab fa-facebook "></i></a>
      <a target="_blank" class="mx-2 text-danger" href="https://www.instagram.com/mr_descifrador/"><i class="fab fa-instagram"></i></a>
      <a target="_blank" class="mx-2 text-danger" href="https://github.com/MadhabaPatra"><i class="fab fa-github "></i></a>
      <a target="_blank" class="mx-2 text-danger" href="https://in.linkedin.com/in/madhaba-patra-?trk=people-guest_profile-result-card_result-card_full-click"><i class="fab fa-linkedin"></i></a>
      <a target="_blank" class="mx-2 text-danger" href="https://twitter.com/MadhabaPatra1"><i class="fab fa-twitter "></i></a>
      <a target="_blank" class="mx-2 text-danger" href="https://play.google.com/store/apps/dev?id=6001374307369301068"><i class="fab fa-google-play"></i></a>
</div>
<div class="text-center mt-2">
  <h5 class="btn btn-warning text-center">More projects</h5> <br />
<a class="mx-2 text-danger" target="_blank" href="http://voonkart.com"> <img src="https://raw.githubusercontent.com/MadhabaPatra/eCommerce/master/REMODEL.png" style="width:50px;height:30px;"/></a>
<a class="mx-2 text-danger" target="_blank" href="http://linkc.madhaba.me"> <img src="https://raw.githubusercontent.com/MadhabaPatra/LinkC/master/images/logo.png" style="width:50px;height:30px;"/></a>
<a class="mx-2 text-danger" target="_blank" href="https://play.google.com/store/apps/details?id=com.gvjc.gvjcoles"> <img src="https://raw.githubusercontent.com/GyanaVikash/docs/master/GVJC/gvjc_oles_playstore_logo.png" style="width:30px;height:30px;"/></a>
</div>

<script>
  var isBodyClicked = false;
  function play(){
    if(isBodyClicked === false){
        document.getElementById("audio").play();
        document.body.removeEventListener('click', play);
      }
      isBodyClicked = true;
  }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>
